@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
  --color-info: var(--info);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);

  /* Application Colors */
  --color-guardian: #2196F3;
  --color-collector: #00BCD4;
  --color-factory: #4CAF50;
  --color-procurement: #FFCA28;
  --color-logistic: #FF9800;
  --color-finance: #F44336;
  --color-vendor: #E91E63;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #282828; /* Color de letra base modo claro */
    --surface: #f4f5f7;
    --border: #dfe1e6;

    --primary: #BC7AF9; /* Morado base */
    --primary-foreground: #ffffff;
    --secondary: #E26EE5; /* Fucsia / Rosa */
    --secondary-foreground: #ffffff;

    --success: #36b37e;
    --warning: #ffab00;
    --error: #ff5630;
    --info: #00b8d9;
    --muted: #091e420f;
    --muted-foreground: #8993a4;
  }

  .dark {
    --background: #282828; /* Color de fondo modo oscuro */
    --foreground: #ffffff; /* Letra modo oscuro */
    --surface: #303030; /* Superficie ligeramente mas clara */
    --border: #505050;

    --primary: #BC7AF9; /* Ligeramente más claro para accesibilidad en elementos (basado en #9111bc) */
    --primary-foreground: #ffffff;
    --secondary: #E26EE5; /* Fucsia ligeramente más claro para contraste en oscuro */
    --secondary-foreground: #ffffff;

    --success: #22a06b;
    --warning: #f5cd47;
    --error: #f15b50;
    --info: #6cc3e0;
    --muted: #4a4a4a;
    --muted-foreground: #9fadbc;
  }

  * {
    border-color: var(--border);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

